/*Reset*/
*{
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  vertical-align: baseline;
  max-height: 100000px;
}

/*Colors*/

:root{
  --dominant-color:#BD2108;
  --flair-color:#FFC600;
  --backgroundLight-color: white;
  --backgroundDark-color: black;
}

.color-dominant{
  background: var(--dominant-color);
}
.color-background_primary{
  background: var(--backgroundLight-color);
}
.color-background_secondary{
  background: var(--backgroundDark-color);
}
.color-background_flair{
  background: var(--flair-color);
}
.color-text_dominant{
  color: var(--dominant-color);
}
.color-text_primary{
  color: var(--backgroundDark-color);
}
.color-text_secondary{
  color: var(--backgroundLight-color);
}
.color-text_flair{
  color: var(--flair-color);
}

/*Tags*/

body{
  background: white;
  min-width: 360px;
}

h1{
    font-size: 2rem;
    font-weight: 600;
    font-family: Raleway, sans-serif;
}

h2{
    font-size: 1.5rem;
    font-weight: 500;
    font-family: Raleway, sans-serif;
}

p, q, input, textarea, button{
    font-size: 1rem;
    font-weight: 400;
    font-family: Lato, sans-serif;
}

q{
    font-style: italic;
}

p{
  display: inline-block;
  white-space: pre-wrap;
}

a{
  color: black;
  font-size: 1.25rem;
  font-weight: 400;
  font-family: Lato, sans-serif;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #8d8d8d;
  opacity: 0.95; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #8d8d8d;
  opacity: 0.95; 
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #8d8d8d;
  opacity: 0.95; 
}

@media (max-width: 1200px){
  h1{
    font-size: 4rem;
  }
  h2{
    font-size: 2rem;
  }
}

@media (max-width: 1000px){
  h2{
    font-size: 3rem;
  }
  p, q{
    font-size: 2rem;
    font-weight: 400;
    font-family: Lato, sans-serif;
  }
}